<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
	<packageSources>
		<add key="local-sal" value="C:\LocalNuGet" />
		<add key="github_DKorablin" value="https://nuget.pkg.github.com/DKorablin/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="local-sal">
			<package pattern="SAL.Flatbed" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
			<package pattern="SAL.Flatbed" />
		</packageSource>
		<packageSource key="github_DKorablin">
			<package pattern="Microsoft.AutomaticGraphLayout.*" />
			<package pattern="Microsoft.VisualStudio.VirtualTreeGrid" />
			<package pattern="LogListView" />
			<package pattern="SAL.Interface.*" />
		</packageSource>
	</packageSourceMapping>
</configuration>